/** 
 * @Author: seekwe
 * @Date: 2020-03-10 20:48:19
 * @Last Modified by:: seekwe
 * @Last Modified time: 2020-04-27 15:45:04
 */
@import '../../common/var.less';

.items {
  .itemsBlock();
  .item {
    height: 405rpx;
    height: auto;
    .item-title {
      position: relative;
    }
  }
}

.page-lottery {
  padding-top: @paadingSize;
  background-color: @themeColor;
  .item-title {
    background-color: #2e2827;
    color: #fff;
  }
}
