/** 
 * @Author: seekwe
 * @Date: 2020-03-10 20:48:19
 * @Last Modified by:: seekwe
 * @Last Modified time: 2020-04-19 15:30:57
 */
/*
 * @Author: seekwe
 * @Date:   2020-03-10 20:48:19
 * @Last Modified by:   seekwe
 * @Last Modified time: 2020-03-10 20:56:46
 */
@import '../../common/var.less';

.items {
  .itemsBlock();
  .item {
    height: 405rpx;
  }
}

.page-lottery {
  padding-top: @paadingSize;
  background-color: @themeColor;
  .item-title {
    background-color: #2e2827;
    color: #fff;
  }
}
