<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.github.tuding.blindbox" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

    <springProfile name="dev">
        <property name="HOME_LOG" value="logs/app-dev.log"/>
        <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${HOME_LOG}</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <!-- each archived file, size max 10MB -->
                <maxFileSize>10MB</maxFileSize>
                <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
                <totalSizeCap>10GB</totalSizeCap>
                <!-- 60 days to keep -->
                <maxHistory>60</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </encoder>
        </appender>

        <!-- https://logback.qos.ch/manual/appenders.html#AsyncAppender -->
        <!-- AsyncAppender will drop events of level TRACE, DEBUG and INFO if its queue is 80% full -->
        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="FILE-ROLLING"/>
            <!-- defaulr 256 -->
            <queueSize>512</queueSize>
        </appender>

        <logger name="com.github.tuding.blindbox" level="info" additivity="false">
            <appender-ref ref="FILE-ROLLING"/>
        </logger>

        <root level="warn">
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>

    <springProfile name="prod">
        <property name="HOME_LOG" value="logs/app-prod.log"/>
        <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${HOME_LOG}</file>

            <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
                <!-- each archived file, size max 10MB -->
                <maxFileSize>10MB</maxFileSize>
                <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
                <totalSizeCap>5GB</totalSizeCap>
                <!-- 60 days to keep -->
                <maxHistory>60</maxHistory>
            </rollingPolicy>

            <encoder>
                <pattern>%d %p %c{1.} [%t] %m%n</pattern>
            </encoder>
        </appender>

        <!-- https://logback.qos.ch/manual/appenders.html#AsyncAppender -->
        <!-- AsyncAppender will drop events of level TRACE, DEBUG and INFO if its queue is 80% full -->
        <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
            <appender-ref ref="FILE-ROLLING"/>
            <!-- defaulr 256 -->
            <queueSize>512</queueSize>
        </appender>

        <logger name="com.github.tuding.blindbox" level="info" additivity="false">
            <appender-ref ref="FILE-ROLLING"/>
        </logger>

        <root level="warn">
            <appender-ref ref="FILE-ROLLING"/>
        </root>
    </springProfile>

</configuration>