/** 
 * @Author: seekwe
 * @Date: 2020-03-02 15:31:00
 * @Last Modified by:: seekwe
 * @Last Modified time: 2020-07-17 15:54:10
 */
@import '../../common/var.less';
@width: 580rpx;
@borderColor: @lightGreyBackground;
@borderSize: 1px;
.z-home-info-box .sheet-box_on {
  background-color: #fff !important;
}
.page-info {
  text-align: center;
  background-color: @themeColor;
  padding: 40rpx 0 40rpx;
  .info-header {
    font-size: 38.88rpx;
    color: #fff;
    margin-bottom: 10rpx;
  }
  .info-header-timeout {
    color: #fff;
    font-size: 20rpx;
    margin-bottom: 20rpx;
  }
  .info-view {
    width: @width;
    margin: auto;
    overflow: hidden;
    // @bannerW: @boxWidth;
    // @bannerH: 348rpx;
    // width: @bannerW;
    // height: @bannerH;
    // margin: 0 auto @paadingSize;
  }
  .info-cover {
    display: block;
    width: 100%;
    // background-color: #000;
    height: 300rpx;
    height: 250.518rpx;
  }
  .boxs {
    // border: @borderSize solid @borderColor;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    // border: 1px solid;
    border-top: 0;
    color: @lightGreyBackground;
    border-right: @borderSize solid @borderColor;

    // box-shadow: 0 0 1px @lightGreyBackground;
    &.box-3 {
      .box {
        width: 160rpx;
        height: 160rpx;
        width: 100% / 3;
        height: calc(@width / 3);
        .been-icon {
          width: calc(@width / 3);
          height: calc(@width / 3);
        }
      }
    }
    .box {
      &.yes::after {
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        position: absolute;
        height: 100%;
        background-color: @borderColor;
      }
      &::before {
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        position: absolute;
        height: 100%;
        border: @borderSize solid @borderColor;
      }
      //
      // overflow: hidden;
      box-sizing: border-box;
      position: relative;
      width: 100% / 4;
      height: @width / 4;
      // border-left-width: 0;
      // border-top-width: 0;
      &.placeholder {
        // height: 0;
      }
      // &:nth-child(4n + 1) {
      //   border-left-width: @borderSize;
      // }
      // &:nth-child(-n + 4) {
      //   border-top-width: @borderSize;
      // }
      .been-icon {
        width: calc(@width / 4);
        height: calc(@width / 4);
        // background-color: #929292;
        box-sizing: border-box;
        // border: 1rpx solid #929292;
        // border-width: 1rpx;
        background-color: @themeColor;
        &.off {
          background-color: #929292;
        }
        // &.yes {
        //   border: 6px solid #fff;
        //   // border: 6px solid rgba(0, 0, 0, 0.3);
        // }
      }
      .mini-icon {
        position: absolute;
        @size: 15px;
        left: -0px;
        top: -0px;
        color: #fff;
        font-size: 10px;
        height: @size - 2px;
        line-height: @size - 2px;
        min-width: @size+5px;
        display: inline-block;
        background: #be4631;
        &::after {
          content: '';
          width: 0;
          position: absolute;
          border-width: (@size+5px) / 2;
          left: 0;
          bottom: -(@size + 5px);
          border-style: solid;
          border-color: #be4631 transparent transparent;
        }
      }
    }
  }
  .info-box {
    border-radius: 5rpx;
    overflow: hidden;
    border-bottom: @borderSize solid @borderColor;
    // background-color: #000;
  }
  .info-btn {
    margin-top: 30rpx;
    line-height: 84rpx;
    font-size: 30.56rpx;
    height: 84rpx;
  }
}
.data {
  display: flex;
  margin-top: 30rpx;
  justify-content: space-between;
  .data-code {
    text-align: left;
    // white-space: nowrap;
    font-size: 18rpx;
    color: #666666;
  }
  .data-look {
    // flex: 1;
    font-size: 27rpx;
    text-align: right;
    color: #333333;
  }
  .look-icon {
    width: 38rpx;
  }
}
