.login {
    width: 780px;
    height: 440px;
    margin: 0 auto;
    position: relative;
}

.login .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .4;
    width: 100%;
    height: 100%;
}