<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlindBox</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script th:src="@{/javascript/jquery-3.1.1.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>
    <style>
        .empty-block {
            text-align: center;
            margin: 60 auto;
        }
        .empty-block > img {
            width: 40%;
            margin-top: 60px;
        }

    </style>
</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
    <!--<a th:text="'欢迎 ' +  ${user}"></a>-->
</div>
<div class="ui grid main">
    <div class="four wide column">
        <div class="ui vertical menu">
            <a class="active teal item" th:href="@{/admin-ui/activities/}">
                <!--<a class="active teal item">-->
                活动管理
            </a>
            <a class="item" th:href="@{/admin-ui/role/}">
                产品管理
                <!--<div class="ui label">51</div>-->
            </a>
            <a class="item" th:href="@{/admin-ui/orders/}">
                订单管理
                <!--<div class="ui label">1</div>-->
            </a>
        </div>
    </div>
    <div class="twelve wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <a th:href="@{/admin-ui/activities/form}" class="ui button primary white-text">添加活动</a>
            </div>
            <div class="six wide column">
                <div class="title"><h2>活动管理</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>

        <div th:if="${activities==null or activities.empty}" class="empty-block">
            <img th:src="@{/img/empty.png}">
            <h3>暂时还没有活动，现在来创建吧！</h3>
        </div>

        <div th:if="${!activities.empty}">
            <!--this is going to show list-->
            <table>
                <thead>
                <tr>
                    <th>活动名称</th>
                    <th>活动开始时间</th>
                    <th>活动结束时间</th>
                    <th>首页显示</th>
                    <th>编辑活动</th>
                    <th>订阅人数</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="activity : ${activities}">
                    <td><span th:text="${activity.name}">活动名称</span></td>
                    <td><span th:text="${activity.startDate}">活动开始时间</span></td>
                    <td><span th:text="${activity.endDate}">活动结束时间</span></td>
                    <td>
                        <div th:if="${activity.showAsAd}"><i class="check circle icon"></i></div>
                    </td>
                    <td>
                        <a th:href="@{'/admin-ui/activities/id/' + ${activity.id}}" title="查看">
                            <i class="eye outline icon"></i>
                        </a>
                        <a th:href="@{'/admin-ui/activities/edit/id/' + ${activity.id}}" title="编辑">
                            <i class="edit outline icon"></i>
                        </a>
                        <a title="删除" href="#" th:attr="onclick=|delItem('${activity.id}')|">
                            <i class="trash alternate outline icon"></i>
                        </a>
                    </td>
                    <td><span th:text="${activity.subscribeCount}"></span></td>
                    <td>
                        <a th:attr="onclick=|sendNotify('${activity.id}')|" href="#" title="发送活动通知">
                            <i class="envelope open icon"></i>发送活动通知
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--<div class="ui basic modal">-->
            <!--<div class="ui icon header">-->
            <!--<i class="archive icon"></i>-->
            <!--真的要删除活动？-->
            <!--</div>-->
            <!--<div class="actions">-->
            <!--<div class="ui red basic cancel inverted button">-->
            <!--<i class="remove icon"></i>-->
            <!--别，我后悔了-->
            <!--</div>-->
            <!--<div class="ui green ok inverted button">-->
            <!--<i class="checkmark icon"></i>-->
            <!--好，删吧-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->
        </div>


    </div>
</div>

<script type="text/javascript">
    function delItem (id){
        //$('.ui.basic.modal').modal('show');
        $.ajax({
            url: "/admin-ui/activities/id/" + id,
            type: "DELETE",
            success: function (data, status) {
                console.info("Got delete activity " + status);
                window.location = '/admin-ui/activities/';
            },
            error: function (e) {
                console.log(e);
            }
        })
    }

     function sendNotify (id){
        //$('.ui.basic.modal').modal('show');
        $.ajax({
            url: "/admin-ui/activities/id/" + id + "/send-notify",
            type: "POST",
            success: function (data, status) {
                console.info("Notify sentuod " + status);
                window.location = '/admin-ui/activities/';
            },
            error: function (e) {
                console.log(e);
            }
        })
    }


</script>

</body>
</html>