<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>blindbox</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">

    <script th:src="@{/javascript/jquery-3.1.1.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function(){

            $('.ui.checkbox').checkbox();

            $('.ui.form')
            .form({
                fields: {
                    name: 'empty',
                    activityStartDate: 'empty',
                    activityEndDate: 'empty',
                    description: 'empty',
                    giftBonus: 'empty',
                }
            });

            $('#rangestart').calendar({
                type: 'datetime',
                ampm: false,
                formatter: {
                    date: function (datetime, settings) {
                        if (!datetime) return '';
                        var day = datetime.getDate();
                        var month = datetime.getMonth() + 1;
                        var year = datetime.getFullYear();
                        return year + '-' + month + '-' + day;
                    }
                }
            });

            $('#rangeend').calendar({
                type: 'datetime',
                ampm: false,
                formatter: {
                    date: function (datetime, settings) {
                        if (!datetime) return '';
                        var day = datetime.getDate();
                        var month = datetime.getMonth() + 1;
                        var year = datetime.getFullYear();
                        return year + '-' + month + '-' + day;
                    }
                }
            });

         });


    </script>
    <style>
        form {
            text-align: left;
        }

        .submit_btn {
            margin-top: 20px;
        }
    </style>

</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
</div>
<div class="ui grid main">
    <div class="three wide column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Activity</div>
                <div class="menu">
                    <a class="active teal item" th:href="@{/admin-ui/activities/}">活动信息管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Product</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/role/v2/}">角色管理</a>
                    <a class="item" th:href="@{/admin-ui/series/v2/}">系列与产品管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Order</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/orders/}">订单管理</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <button class="ui button primary basic">
                    <a th:href="@{/admin-ui/activities/}" class="theme-text">
                        <i class="angle left icon"></i>返回</a>
                </button>
            </div>
            <div class="six wide column">
                <div class="title"><h2 th:text="${activityForm.title}">Title</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <br/>
        <div class="alert-text">
            <p th:text="${activityForm.errorMsg}" th:if="${activityForm.errorMsg!=null}">errorMsg</p>
        </div>

        <form autocomplete="off" class="ui form" enctype="multipart/form-data" method="POST"
              action="#" th:action="@{/admin-ui/activities/form}" th:object="${activityForm}">

            <input type="text" th:field="*{id}" style="display: none">
            <input type="text" th:field="*{mode}" style="display: none">

            <div class="field required ">
                <label>活动名称</label>
                <input type="text" name="name" placeholder="Name" th:field="*{name}"
                       th:readonly="${activityForm.readOnly}">
            </div>

            <div class="two fields">
                <div class="field required">
                    <label>Start date</label>
                    <div class="ui calendar" id="rangestart">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" name="activityStartDate" placeholder="Start"
                                   th:field="*{activityStartDate}" th:value="*{activityStartDate}"
                                   th:readonly="${activityForm.readOnly}">
                        </div>
                    </div>
                </div>
                <div class="field required">
                    <label>End date</label>
                    <div class="ui calendar" id="rangeend">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="text" name="activityEndDate" placeholder="End"
                                   th:field="*{activityEndDate}" th:value="*{activityEndDate}"
                                   th:readonly="*{readOnly}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="field required ">
                <label>活动规则</label>
                <input name="description" placeholder="Description" th:field="*{description}"
                       th:readonly="${activityForm.readOnly}"
                       type="text">
            </div>

            <div class="field required ">
                <label>活动奖励积分</label>
                <input name="giftBonus" placeholder="100" th:field="*{giftBonus}" th:readonly="${activityForm.readOnly}"
                       type="number">
            </div>

            <div class="field">
                <div class="ui checkbox">
                    <input id="showInAd-box" type="checkbox" th:field="*{shownInAd}"
                           th:disabled="${activityForm.readOnly}">
                    <label for="showInAd-box">是否马上展示在首页banner？</label>
                </div>
            </div>

            <div class="inline field required">
                <label>活动主图</label>
                <div th:if="*{mainImgAddr!=null and mainImgAddr!=''}">
                    <img class="ui small image"
                         th:src="*{mainImgAddr}">
                </div>
                <input id="mainImg" name="mainImg" th:field="*{mainImg}" th:if="*{!readOnly}" type="file">
                <input type="text" th:field="*{mainImgAddr}" style="display: none">
            </div>

            <div class="inline field required">
                <label>活动内容图</label>
                <div th:if="*{contentImgAddr!=null and contentImgAddr!=''}">
                    <img class="ui small image"
                         th:src="*{contentImgAddr}">
                </div>
                <input id="contentImg" name="contentImg" th:field="*{contentImg}" th:if="*{!readOnly}" type="file">
                <input style="display: none" th:field="*{contentImgAddr}" type="text">
            </div>

            <div th:if="${!activityForm.readOnly}" class="submit_btn">
                <button class="ui button">提交</button>
            </div>
        </form>

    </div>
</div>
</body>
</html>