<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>box</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script>
        $('.ui.sidebar').sidebar('toggle');

    </script>
</head>
<body>
<div class="login">
    <div class="big-title"><a th:href="@{/admin-ui/main/}"><h1>欢迎登陆BlindBox 管理后台</h1></a>
    </div>
    <div class="ui clearing divider">
    </div>
    <div class="ui container" style="width: 300px">
        <form action="login" method="POST" class="ui form">
            <div class="field">
                <label>用户名: </label>
                <input name="username" autocomplete="off"/>
            </div>
            <div class="field">
                <label>密码: </label>
                <input type="password" name="password" autocomplete="off"/>
            </div>
            <div>
                <button class="ui button primary">登陆</button>
            </div>
        </form>
    </div>

</div>
</body>
</html>