<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script th:src="@{/javascript/jquery-3.1.1.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>
    <style>
        .empty-block {
            text-align: center;
            margin: 60 auto;
        }

        .empty-block > img {
            width: 40%;
            margin-top: 60px;
        }

    </style>
</head>

<body>
<div class="big-title"><a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
    <!--<a th:text="'欢迎 ' +  ${user}"></a>-->
</div>
<div class="ui grid main">
    <div class="three wide column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Activity</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/activities/}">活动信息管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Product</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/role/}">产品管理（old)</a>
                    <a class="item" th:href="@{/admin-ui/role/v2/}">角色管理</a>
                    <a class="item" th:href="@{/admin-ui/series/v2/}">系列与产品管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Order</div>
                <div class="menu">
                    <a class="active teal item" th:href="@{/admin-ui/orders/}">订单管理</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column right-box">
        <div class="ui grid main">
            <div class="sixteen wide column right aligned">
                <div class="title"><h2>订单管理</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div th:if="${!orders.empty}">
            <table class="ui striped table">
                <thead>
                <tr>
                    <th>订单号</th>
                    <th>产品名称</th>
                    <th>创建时间</th>
                    <th>收件信息</th>
                    <th>快递公司</th>
                    <th>快递号</th>
                    <th>状态</th>
                    <th>更多操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${orders}">
                    <td><span th:text="${item.orderId}">订单号</span></td>
                    <td><span th:text="${item.productName}">产品名称</span></td>
                    <td><span th:text="${item.createTime}">创建时间</span></td>
                    <td><span th:text="${item.combineAddr}">收件信息</span></td>
                    <td><span th:text="${item.shippingCompany}">快递公司</span></td>
                    <td><span th:text="${item.shippingTicket}">快递号</span></td>
                    <td><span th:text="${item.status}">状态</span></td>
                    <td>
<!--                        <a th:if="${item.status =='PAY_TRANSPORT_SUCCESS'}" title="发货" href="#">-->
                        <a href="#" th:if="${item.status =='运费已付'}" title="发货">
                            <i class="paper plane outline icon"
                               th:attr="onclick=|showModal('${item.orderId}', '${item.productName}',
                               '${item.combineAddr}', '', '')|"></i>
                        </a>
                        <a href="#" th:if="${item.status =='已发货'}" title="发货">
                            <i class="paper edit outline icon"
                               th:attr="onclick=|showModal('${item.orderId}', '${item.productName}',
                               '${item.combineAddr}', '${item.shippingCompany}', '${item.shippingTicket}')|"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${orders ==null or orders.empty}" class="empty-block">
            <img th:src="@{/img/empty.png}">
            <h3>暂时还没有订单...</h3>
        </div>
        <div class="ui modal">
            <div id="modalHeader" class="header"></div>
            <div class="content content">
                <div class="description">
                    <p id="productName"></p>
                    <!--                    <p id="receiver"></p>-->
                    <p id="address"></p>
                    <!--                    <p id="mobile"></p>-->
                </div>
                <form id="shippingForm" class="ui form three wide column"
                      enctype="multipart/form-data"
                      action="/admin-ui/orders/deliver/"
                      method="POST">
                    <div class="field required">
                        <label>快递公司</label>
                        <input required="required" type="text" name="shippingCompany" id="shippingCompany">
                    </div>
                    <div class="field required">
                        <label>快递单号</label>
                        <input required="required" type="text" name="shippingTicket" id="shippingTicket">
                    </div>
                    <button class="ui button">确认</button>

                </form>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    function deliverItem(item) {
        $.ajax({
            url: "/admin-ui/orders/deliver/" + item,
            type: "PUT",
            success: function (data, status) {
                console.info("Got update status " + status);
                location.reload();
            }
        })
    };

    function showModal(item, productName, address, shippingCompany, shippingTicket) {
        $('#shippingForm').attr('action', '/admin-ui/orders/deliver/' + item);
        $('#modalHeader').text("订单号: " + item);
        $('#productName').text("产品名称: " + productName);
        $('#address').text("收件信息: " + address);
        $('#deliveryStatus').text("状态: " + status);
        $('#shippingCompany').val(shippingCompany);
        $('#shippingTicket').val(shippingTicket);
        $('.ui.modal').modal('show');
    }

</script>
</body>

</html>