<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <link rel="stylesheet" th:href="@{/style/pagination.css}">
    <script th:src="@{/javascript/jquery-3.1.1.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>
    <script th:src="@{/javascript/pagination.min.js}"></script>
    <style>
        .empty-block {
            text-align: center;
            margin: 60 auto;
        }

        .empty-block > img {
            width: 40%;
            margin-top: 60px;
        }
        .margin-field {
            margin-top: 3px;
        }



    </style>
</head>

<body>
<div class="big-title"><a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
    <!--<a th:text="'欢迎 ' +  ${user}"></a>-->
</div>
<div class="ui grid main">
    <div class="three wide column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Activity</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/activities/}">活动信息管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Product</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/role/v2/}">角色管理</a>
                    <a class="item" th:href="@{/admin-ui/series/v2/}">系列与产品管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Order</div>
                <div class="menu">
                    <a class="active teal item" th:href="@{/admin-ui/orders/}">订单管理</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column right-box">
        <div class="ui grid main">
            <div class="sixteen wide column right aligned">
                <div class="title"><h2>订单管理</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <div class="ui grid left aligned">
            <div class=" sixteen wide column">
                <div class="ui labeled input">
                    <div class="ui label">订单状态</div>
                    <select id="statusFilter" name="statusFilter">
                        <option value="ALL">全部</option>
                        <option value="DELIVERED">已发货</option>
                        <option value="PAY_TRANSPORT_SUCCESS">待发货</option>
                        <option value="PENDING_PAY_TRANSPORT">未付运费</option>
                        <option value="PAY_PRODUCT_SUCCESS">未申请发货</option>
                    </select>
                </div>

            </div>
            <div class=" sixteen wide column">
                <div class="ui labeled input">
                    <div class="ui label">
                        订单号(模糊查询)
                    </div>
                    <input id="orderId" name="orderId" size="36" type="text">
                </div>
                <div class="ui labeled input">
                    <div class="ui label">收货人</div>
                    <input id="receiver" name="receiver" type="text"/>
                </div>
                <div class="ui labeled input">
                    <div class="ui label">电话</div>
                    <input id="mobile" name="mobile" type="text"/>
                </div>
            </div>
            <div class=" sixteen wide column">
            </div>
        </div>
        <div class="ui bottom attached button margin-field" onclick="refreshFilter()">
            <i class="search icon"></i>查找
        </div>


        <div class="ui divider"></div>
        <table class="ui striped table" id="orderTable">
            <thead>
            <tr>
                <th>订单号</th>
                <th>产品名称</th>
                <th>创建时间</th>
                <th>收件信息</th>
                <th>快递公司</th>
                <th>快递号</th>
                <th>状态</th>
                <th>更多操作</th>
            </tr>
            </thead>
            <tbody id="orderTableBody">
            </tbody>
        </table>
        <div id="pagination"></div>

        <div class="ui modal" id="deliverModal">
            <div id="modalHeader" class="header"></div>
            <div class="content content">
                <div class="description">
                    <input style="display: none" id="orderItemId" type="text">
                    <p id="productName"></p>
                    <!--                    <p id="receiver"></p>-->
                    <p id="address"></p>
                    <!--                    <p id="mobile"></p>-->
                </div>
                <div id="shippingForm" class="ui form three wide column">
                    <div class="field required">
                        <label>快递公司</label>
                        <input required="required" type="text" name="shippingCompany" id="shippingCompany">
                    </div>
                    <div class="field required">
                        <label>快递单号</label>
                        <input required="required" type="text" name="shippingTicket" id="shippingTicket">
                    </div>
                    <button class="ui button" onclick="deliver()">确认</button>

                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    function deliver() {
        var delivery = new FormData();
        delivery.append('shippingCompany', $('#shippingCompany').val());
        delivery.append('shippingTicket', $('#shippingTicket').val());
        console.info(delivery);
        $.ajax({
            url: "/admin-ui/orders/v2/deliver/" + $('#orderItemId').val(),
            type: "POST",
            data: delivery,
            contentType: false,
            processData: false,
            success: function (status) {
                refreshFilter();
                $('#deliverModal').modal('hide');
            },
            error: function () {
                console.info("error");
            }


        });
    }

    function deliverItem(item) {
        $.ajax({
            url: "/admin-ui/orders/deliver/" + item,
            type: "PUT",
            success: function (data, status) {
                console.info("Got update status " + status);
                refreshFilter()
            }
        })
    };

    function showModal(item, productName, address, shippingCompany, shippingTicket) {
        $('#modalHeader').text("订单号: " + item);
        $('#productName').text("产品名称: " + productName);
        $('#address').text("收件信息: " + address);
        $('#deliveryStatus').text("状态: " + status);
        $('#shippingCompany').val(shippingCompany);
        $('#shippingTicket').val(shippingTicket);
        $('#orderItemId').val(item);
        $('.ui.modal').modal('show');
    }

    function refresh(status, orderId, receiver, mobile) {
        let container = $('#pagination');
        orderId = orderId || '*';
        receiver = receiver || '*';
        mobile = mobile || '*';

        container.pagination({
            dataSource: '/admin-ui/orders/v2/items/' + status + '/' + orderId + '/' + receiver + '/' + mobile,
            locator: 'data',
            pageSize: 200,
            totalNumber: getOrderCount(status, orderId, receiver, mobile),
            jump: true,
            coping: true,
            homePage: '首页',
            endPage: '末页',
            preContent: '上页',
            nextContent: '下页',
            callback: function (data) {
                $('#orderTableBody tr').remove();
                for (var i = 0; i < data.length; i++) {
                    var row$ = $('<tr/>');
                    row$.append($('<td/>').html(data[i].orderId));
                    row$.append($('<td/>').html(data[i].productName));
                    row$.append($('<td/>').html(data[i].createTime));
                    row$.append($('<td/>').html(data[i].combineAddr));
                    row$.append($('<td/>').html(data[i].shippingCompany));
                    row$.append($('<td/>').html(data[i].shippingTicket));
                    row$.append($('<td/>').html(data[i].status));
                    if (data[i].status === '运费已付') {
                        row$.append($('<td/>').html('<a href="#" title="发货"><i class="paper plane outline icon" onclick="showModal\(\''
                            + data[i].orderId + '\',\'' + data[i].productName + '\',\'' + data[i].combineAddr + '\', \'顺丰\', \'\')"/></a>'));
                    } else if (data[i].status === '已发货') {
                        row$.append($('<td/>').html('<a href="#" title="发货"><i class="paper edit outline icon" onclick="showModal\(\''
                            + data[i].orderId + '\',\'' + data[i].productName + '\',\''
                            + data[i].combineAddr + '\', \'' + data[i].shippingCompany + '\', \'' + data[i].shippingTicket + '\')"/></a>'));
                    } else {
                        row$.append($('<td/>').html(''));
                    }

                    $('#orderTableBody').append(row$);

                }
                console.info(data);
            }
        })

    }

    function refreshFilter() {
        console.info($('#statusFilter').val());
        refresh($('#statusFilter').val(),
            $('#orderId').val(),
            $('#receiver').val(),
            $('#mobile').val(),
        );
    }


    function getOrderCount(status, orderId, receiver, mobile) {
        var res = null;
        $.ajax({
            url: '/admin-ui/orders/v2/count/' + status + '/' + orderId + '/' + receiver + '/' + mobile,
            type: 'get',
            async: false,
            success: function (data) {
                res = data;
            }
        });
        return res.count;
    }

    refresh('ALL');







</script>
</body>

</html>