<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProductForm</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script th:src="@{/javascript/jquery-3.1.1.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.ui.checkbox').checkbox();
        });



    </script>
    <style>
        form {
            text-align: left;
        }



    </style>
</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
</div>
<div class="ui grid main">
    <div class="three wide column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Activity</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/activities/}">活动信息管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Product</div>
                <div class="menu">
                    <a class="active teal item" th:href="@{/admin-ui/role/}">产品管理（old)</a>
                    <a class="item" th:href="@{/admin-ui/role/v2/}">角色管理</a>
                    <a class="item" th:href="@{/admin-ui/series/v2/}">系列与产品管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Order</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/orders/}">订单管理</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <a th:href="@{'/admin-ui/product/?seriesId='+${seriesId}}" class="ui button primary basic theme-text">
                    <i class="angle left icon"></i>返回产品列表</a>
            </div>
            <div class="six wide column">
                <div class="title"><h2>产品管理</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <form class="ui form three wide column"
              enctype="multipart/form-data"
              th:action="@{'/admin-ui/product/form/' + ${seriesId}}"
              method="POST"
              th:object="${product}">
            <input type="text" th:field="*{id}" style="display: none">
            <input type="text" th:field="*{seriesID}" style="display: none">
            <input type="text" th:field="*{productImage}" style="display: none">
            <input type="text" th:field="*{version}" style="display: none">

            <div class="field required">
                <label>产品名称</label>
                <input type="text" name="name" th:field="*{name}">
            </div>

            <div class="two fields">
                <div class="field required">
                    <label>库存</label>
                    <input type="number" name="stock" th:field="*{stock}">
                </div>
                <div class="field required">
                    <label>抽盒权重</label>
                    <input type="number" name="weight" th:field="*{weight}">
                </div>
            </div>

            <div class="inline field required">
                <label>产品点亮图 (尺寸要求: 150 * 190)</label>
                <div>
                    <img class="ui medium image"
                         th:src="*{productImage}" id="productImageFileDisplay">
                </div>
                <input type="file" name="productImageFile" id="productImageFile">
                <p id="productImageFileSize"></p>
            </div>

            <div class="inline field required">
                <label>产品未点亮图 (尺寸要求: 150 * 190)</label>
                <div>
                    <img class="ui medium image"
                         th:src="*{productGrayImage}" id="productGrayImageFileDisplay">
                </div>
                <input type="file" name="productGrayImageFile" id="productGrayImageFile">
                <p id="productGrayImageFileSize"></p>
            </div>


            <br/>
            <div class="field required">
                <div class="ui checkbox">
                    <input id="isSpecial" type="checkbox" th:field="*{isSpecial}">
                    <label for="isSpecial">珍稀产品</label>
                </div>
            </div>
            <br/>
            <button class="ui button">提交</button>
        </form>
    </div>
</div>

<script>
    var _URL = window.URL || window.webkitURL;

    function readUrl(element, input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(element).attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function previewAndShowSize(thisElement, sizeElementID, previewElementID) {
        var file, img;
        if ((file = thisElement.files[0])) {
            img = new Image();
            var objectUrl = _URL.createObjectURL(file);
            img.onload = function () {
                $(sizeElementID).text("当前尺寸: " +  this.width + "*" + this.height)
                _URL.revokeObjectURL(objectUrl);

            };
            img.src = objectUrl;
        }
        readUrl(previewElementID, thisElement);
    }

    $("#productGrayImageFile").change(function (e) {
        previewAndShowSize(this, '#productGrayImageFileSize', '#productGrayImageFileDisplay');
    });

    $("#productImageFile").change(function (e) {
        previewAndShowSize(this, '#productImageFileSize', '#productImageFileDisplay');
    });

</script>
</body>
</html>