<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlindBox</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script th:src="@{/javascript/jquery-3.1.1.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>
</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
</div>

<div class="ui grid main">
    <div class="three wide column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Activity</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/activities/}">活动信息管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Product</div>
                <div class="menu">
                    <a class="active teal item" th:href="@{/admin-ui/role/}">产品管理（old)</a>
                    <a class="item" th:href="@{/admin-ui/role/}">角色管理（new)</a>
                    <a class="item" th:href="@{/admin-ui/role/}">系列与产品管理（new)</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Order</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/orders/}">订单管理</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <a th:href="@{'/admin-ui/series/?roleID='+${roleId}}" class="ui button primary basic theme-text">
                    <i class="angle left icon"></i>返回产品系列列表</a>
                <a th:href="@{'/admin-ui/product/productform/?seriesId=' + ${series.id}}"
                   class="ui button primary white-text">添加产品</a>
            </div>
            <div class="six wide column">
                <div class="title"><h2>产品管理</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>

        <div class="four wide column">
            <h2 th:text="${series.name}"></h2>
            <div align="center"><img class="ui tiny circular image" style="text-align: center"
                                     th:src="${series.seriesImage}"></div>

        </div>

        <div th:if="${!products.empty}">
            <table>
                <thead>
                <tr>
                    <th>产品名称</th>
                    <th>珍稀产品</th>
                    <th>库存</th>
                    <th>权重</th>
                    <th>更多操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${products}">
                    <td><span th:text="${item.name}">产品名称</span></td>
                    <td>
                        <div th:if="${item.isSpecial}"><i class="check circle icon"></i></div>
                    </td>
                    <td><span th:text="${item.stock}">库存</span></td>
                    <td><span th:text="${item.weight}">权重</span></td>

                    <td>
                        <a th:href="@{'/admin-ui/product/productform/' + ${item.id}}" title="编辑">
                            <i class="edit outline icon"></i>
                        </a>
                        <a title="删除" href="#">
                            <i class="trash alternate outline icon" th:attr="onclick=|delItem('${item.id}')|"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>


    </div>

</div>


<script type="text/javascript">
    function delItem (item){
        $.ajax({
            url: "/admin-ui/product/" + item,
            type: "DELETE",
            success: function (data, status) {
                console.info("Got delete status " + status);
                location.reload();
            }
        })
    }
</script>
</body>
</html>