<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>ProductForm</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script th:src="@{/javascript/jquery-3.1.1.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.ui.checkbox').checkbox();
        });



    </script>
    <style>
        form {
            text-align: left;
        }



    </style>
</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
</div>
<div class="ui grid main">
    <div class="four wide column">
        <div class="ui vertical menu">
            <a class="item" th:href="@{/admin-ui/activities/}">
                <!--<a class="active teal item">-->
                活动管理
            </a>
            <a class="active teal item" th:href="@{/admin-ui/role/}">
                产品管理
                <!--<div class="ui label">51</div>-->
            </a>
            <a class="item" th:href="@{/admin-ui/orders/}">
                订单管理
                <!--<div class="ui label">1</div>-->
            </a>
        </div>
    </div>
    <div class="twelve wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <a th:href="@{'/admin-ui/product/?seriesId='+${seriesId}}" class="ui button primary basic theme-text">
                    <i class="angle left icon"></i>返回产品列表</a>
            </div>
            <div class="six wide column">
                <div class="title"><h2>产品管理</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <form class="ui form three wide column"
              enctype="multipart/form-data"
              th:action="@{'/admin-ui/product/form/' + ${seriesId}}"
              method="POST"
              th:object="${product}">
            <input type="text" th:field="*{id}" style="display: none">
            <input type="text" th:field="*{seriesID}" style="display: none">
            <input type="text" th:field="*{productImage}" style="display: none">
            <input type="text" th:field="*{version}" style="display: none">

            <div class="field required">
                <label>产品名称</label>
                <input type="text" name="name" th:field="*{name}">
            </div>

            <div class="two fields">
                <div class="field required">
                    <label>初始库存</label>
                    <input type="number" name="stock" th:field="*{stock}">
                </div>

                <div class="field">
                    <label>抽中比率（如有特殊比率设置）</label>
                    <input type="number" step="0.01" name="probability" th:field="*{probability}">
                </div>
            </div>

            <div class="inline field required">
                <label>产品图</label>
                <div th:if="*{id!=null}">
                    <img class="ui medium image"
                         th:src="*{productImage}">
                </div>
                <input type="file" name="productImageFile">
            </div>

            <div class="inline field required">
                <label>产品图(灰图)</label>
                <div th:if="*{id!=null}">
                    <img class="ui medium image"
                         th:src="*{productGrayImage}">
                </div>
                <input type="file" name="productGrayImageFile">
            </div>


            <br/>
            <div class="field required">
                <div class="ui checkbox">
                    <input id="isSpecial" type="checkbox" th:field="*{isSpecial}">
                    <label for="isSpecial">珍稀产品</label>
                </div>
            </div>
            <br/>
            <button class="ui button">提交</button>
        </form>
    </div>
</div>
</body>
</html>