<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>blindbox</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script th:src="@{/javascript/jquery-3.1.1.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>
    <style>
        form {
            text-align: left;
        }

    </style>

</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
</div>
<div class="ui grid main">
    <div class="three wide column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Activity</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/activities/}">活动信息管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Product</div>
                <div class="menu">
                    <a class="active teal item" th:href="@{/admin-ui/role/}">产品管理（old)</a>
                    <a class="item" th:href="@{/admin-ui/role/}">角色管理（new)</a>
                    <a class="item" th:href="@{/admin-ui/role/}">系列与产品管理（new)</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Order</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/orders/}">订单管理</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <a th:href="@{/admin-ui/role/}" class="ui button primary basic theme-text">
                    <i class="angle left icon"></i>返回角色列表</a>
            </div>
            <div class="six wide column">
                <div class="title"><h2>添加角色</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <form class="ui form three wide column" enctype="multipart/form-data"
              action="/admin-ui/role/roleform" method="POST" th:object="${role}">
            <input type="text" th:field="*{id}" style="display: none">
            <input type="text" th:field="*{roleImage}" style="display: none">
            <div class="field required">
                <label>角色名称</label>
                <input type="text" name="name" th:field="*{name}" >
            </div>
            <div class="inline field required">
                <label>角色图片 (尺寸要求: 150 * 190)</label>
                <div>
                    <img class="ui medium circular image" id="roleImageFileDisplay"
                         th:src="${role.roleImage}">
                </div>
                <input type="file" name="roleImageFile" id="roleImageFile">
                <p id="roleImageFileSize"></p>
            </div>
            <br/>
            <button class="ui button">提交</button>
        </form>
    </div>
</div>
<script>
    var _URL = window.URL || window.webkitURL;

    function readUrl(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#roleImageFileDisplay").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#roleImageFile").change(function (e) {
        var file, img;
        if ((file = this.files[0])) {
            img = new Image();
            var objectUrl = _URL.createObjectURL(file);
            img.onload = function () {
                $('#roleImageFileSize').text("当前尺寸: " +  this.width + "*" + this.height)
                _URL.revokeObjectURL(objectUrl);

            };
            img.src = objectUrl;
        }
        readUrl(this);

    })
</script>
</body>
</html>