<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>blindbox</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <style>
        form {
            text-align: left;
        }



    </style>

</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
</div>
<div class="ui grid main">
    <div class="four wide column">
        <div class="ui vertical menu">
            <a class="item" th:href="@{/admin-ui/activities/}">
                <!--<a class="active teal item">-->
                活动管理
            </a>
            <a class="active teal item" th:href="@{/admin-ui/role/}">
                产品管理
                <!--<div class="ui label">51</div>-->
            </a>
            <a class="item" th:href="@{/admin-ui/orders/}">
                订单管理
                <!--<div class="ui label">1</div>-->
            </a>
        </div>
    </div>
    <div class="twelve wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <a th:href="@{/admin-ui/role/}" class="ui button primary basic theme-text">
                    <i class="angle left icon"></i>返回</a>
            </div>
            <div class="six wide column">
                <div class="title"><h2>添加角色</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <form class="ui form three wide column" enctype="multipart/form-data" action="/roles/" method="POST">
            <div class="field">
                <label>角色名称</label>
                <input type="text" name="name">
            </div>
            <div class="field">
                <label>角色简介</label>
                <input type="text" name="description">
            </div>
            <div class="field">
                <label>角色类别</label>
                <input type="text" name="category">
            </div>
            <div class="field">
                <label>角色图片</label>
                <input type="file" name="image">
            </div>
            <button class="ui button">提交</button>
        </form>
    </div>
</div>

</body>
</html>