<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>main</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script th:src="@{/javascript/jquery-3.1.1.min.js}" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>
    <style>
        .empty-block {
            text-align: center;
            margin: 60 auto;
        }
        .empty-block > img {
            width: 40%;
            margin-top: 60px;
        }

        .role-name {
            text-align: center;
        }






    </style>

</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
    <!--<a th:text="'欢迎 ' +  ${user}"></a>-->
</div>
<div class="ui grid main">
    <div class="three wide column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Activity</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/activities/}">活动信息管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Product</div>
                <div class="menu">
                    <a class="active teal item" th:href="@{/admin-ui/role/}">产品管理（old)</a>
                    <a class="item" th:href="@{/admin-ui/role/v2/}">角色管理</a>
                    <a class="item" th:href="@{/admin-ui/series/v2/}">系列与产品管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Order</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/orders/}">订单管理</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <a th:href="@{/admin-ui/role/roleform/}" class="ui button primary white-text">添加角色</a>
            </div>
            <div class="six wide column">
                <div class="title"><h2>产品角色管理</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>

        <div th:if="${!roles.empty}" class="ui five column grid">
            <div th:each="role : ${roles}" class="column">
                <div class="ui fluid card">
                    <div class="image">
                        <img th:src="${role.roleImage}">
                    </div>
                    <div class="content">
                        <div class="header" th:text="${role.name}"></div>
                    </div>
                    <div class="extra content">
                        <div class="ui three buttons">
                            <a title="删除" href="#" class="ui basic red button">
                                <i class="trash alternate outline icon" th:attr="onclick=|delItem('${role.id}')|"></i>
                            </a>
                            <a title="编辑" th:href="@{'/admin-ui/role/roleform/' + ${role.id}}"
                               class="ui basic green button">
                                <i class="edit alternate outline icon"></i>
                            </a>
                            <a title="维护产品系列" th:href="@{'/admin-ui/series/?roleID=' + ${role.id}}"
                               class="ui basic green button">
                                <i class="sign in alternate icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${roles.empty}">
            <h3 class="empty_tips">还没有产品角色，请添加。。。</h3>
        </div>
    </div>
</div>


<script type="text/javascript">
    function delItem (item){
        $.ajax({
            url: "/admin-ui/role/" + item,
            type: "DELETE",
            success: function (data, status) {
                console.info("Got delete status " + status);
                window.location = '/admin-ui/role/';
            },
            error: function (e) {
                console.log(e);
            }
        })
    }

</script>

</body>
</html>