<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>SeriesForm</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.ui.checkbox').checkbox();
        });

        $('.ui.form').form({
            fields: {
                releaseDate: 'empty',
                activityStartDate: 'empty',
                activityEndDate: 'empty',
            }
        });
    </script>
    <style>
        form {
            text-align: left;
        }
    </style>

</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
</div>
<div class="ui grid main">
    <div class="four wide column">
        <div class="ui vertical menu">
            <a class="item" th:href="@{/admin-ui/activities/}">
                <!--<a class="active teal item">-->
                活动管理
            </a>
            <a class="active teal item" th:href="@{/admin-ui/role/}">
                产品管理
                <!--<div class="ui label">51</div>-->
            </a>
            <a class="item" th:href="@{/admin-ui/orders/}">
                订单管理
                <!--<div class="ui label">1</div>-->
            </a>
        </div>
    </div>
    <div class="twelve wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <a th:href="@{'/admin-ui/series/?roleID='+${roleId}}" class="ui button primary basic theme-text">
                    <i class="angle left icon"></i>返回产品系列列表</a>
            </div>
            <div class="six wide column">
                <div class="title"><h2>产品系列管理</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <form class="ui form three wide column" enctype="multipart/form-data"
              th:action="@{'/admin-ui/series/form/' + ${roleId}}" method="POST" th:object="${series}">
            <input type="text" th:field="*{id}" style="display: none">
            <input type="text" th:field="*{roleId}" style="display: none">
            <input type="text" th:field="*{seriesImage}" style="display: none">
            <input type="text" th:field="*{matrixHeaderImage}" style="display: none">
            <input type="text" th:field="*{matrixCellImage}" style="display: none">


            <div class="field required">
                <label>产品系列名称</label>
                <input type="text" name="name" th:field="*{name}">
            </div>

            <div class="three fields">
                <div class="field">
                    <label>发布日期</label>
                    <div class="ui calendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input type="date" name="releaseDate" th:field="*{releaseDate}" th:value="*{releaseDate}">
                        </div>
                    </div>
                </div>
                <div class="field required">
                    <label>售价</label>
                    <input type="number" step="0.01" name="price" th:field="*{price}">
                </div>
                <div class="field required">
                    <label for="columnSize">每行盲盒数</label>
                    <input id="columnSize" type="number" th:field="*{columnSize}" min="3" max="4">
                </div>
            </div>


            <div class="three fields">
                <div class="inline field required">
                    <label>产品系列图</label>
                    <div th:if="*{id!=null}">
                        <img class="ui medium image"
                             th:src="*{seriesImage}">
                    </div>
                    <input type="file" name="seriesImageFile">
                </div>

                <div class="field required">
                    <label>抽盒页面封面</label>
                    <div th:if="*{id!=null}">
                        <img class="ui medium image"
                             th:src="*{matrixHeaderImage}">
                    </div>
                    <input type="file" name="matrixHeaderImageFile">
                </div>

                <div class="field required">
                    <label>抽盒图</label>
                    <div th:if="*{id!=null}">
                        <img class="ui medium image"
                             th:src="*{matrixCellImage}">
                    </div>
                    <input type="file" name="matrixCellImageFile">
                </div>
            </div>
            <div class="field required">
                <label>产品图鉴</label>
                <div th:if="*{id!=null}">
                    <img class="ui medium image"
                         th:src="*{longImage}">
                </div>
                <input type="file" name="longImageFile">
            </div>
            <br/>
            <div class="field">
                <div class="ui checkbox">
                    <input id="isNewSeries" type="checkbox" th:field="*{isNewSeries}">
                    <label for="isNewSeries">新系列？</label>
                </div>
            </div>

            <div class="field">
                <div class="ui checkbox">
                    <input id="isPresale" type="checkbox" th:field="*{isPresale}">
                    <label for="isPresale">预售？</label>
                </div>
            </div>


            <br/>
            <button class="ui button">提交</button>
        </form>
    </div>
</div>
</body>
</html>