<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>SeriesForm</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>

</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
</div>
<div class="ui grid main">
    <div class="four wide column">
        <div class="ui vertical menu">
            <a class="item" th:href="@{/admin-ui/activities/}">
                <!--<a class="active teal item">-->
                活动管理
            </a>
            <a class="active teal item" th:href="@{/admin-ui/role/}">
                产品管理
                <!--<div class="ui label">51</div>-->
            </a>
            <a class="item" th:href="@{/admin-ui/orders/}">
                订单管理
                <!--<div class="ui label">1</div>-->
            </a>
        </div>
    </div>
    <div class="twelve wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <a th:href="@{/admin-ui/series/}" class="ui button primary basic theme-text">
                    <i class="angle left icon"></i>返回</a>
            </div>
            <div class="six wide column">
                <div class="title"><h2>添加产品系列</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <form class="ui form three wide column" enctype="multipart/form-data" th:action="@{'/series/' + ${roleName}}" method="POST">
            <div class="field">
                <label>产品系列名称</label>
                <input type="text" name="name">
            </div>
            <div class="field">
                <label>发布日期</label>
                <input type="date" name="releaseDate">
            </div>
            <div class="field">
                <input type="radio" name="isNewSeries" value="true" checked>新系列<br>
                <input type="radio" name="isNewSeries" value="false" >已有系列<br>
            </div>

            <div class="field">
                <input type="radio" name="isPresale" value="true" >预售<br>
                <input type="radio" name="isPresale" value="false" checked>非预售<br>
            </div>
            <div class="field">
                <label>售价</label>
                <input type="number" step="0.01" name="price">
            </div>
            <div class="field">
                <label>产品系列图</label>
                <input type="file" name="seriesImage">
            </div>
            <div class="field">
                <label>抽盒页面封面</label>
                <input type="file" name="matrixHeaderImage">
            </div>
            <div class="field">
                <label>抽盒图</label>
                <input type="file" name="matrixCellImage">
            </div>
            <button class="ui button">提交</button>
        </form>
    </div>
</div>
</body>
</html>