<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SeriesForm</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script crossorigin="anonymous" th:src="@{/javascript/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.ui.checkbox').checkbox();

            $('#aform form').form({
                fields: {
                    name: 'empty',
                    releaseDate: 'empty',
                    roles: 'empty',
                }
            });
        });

    </script>
    <style>
        form {
            text-align: left;
        }

        .scrollbox {
            height:200px;
            overflow-x:scroll;
        }

    </style>

</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
</div>
<div class="ui grid main">
    <div class="three wide column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Activity</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/activities/}">活动信息管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Product</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/role/v2/}">角色管理</a>
                    <a class="active teal item" th:href="@{/admin-ui/series/v2/}">系列与产品管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Order</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/orders/}">订单管理</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <a class="ui button primary basic theme-text" th:href="@{'/admin-ui/series/v2/'}">
                    <i class="angle left icon"></i>返回产品系列列表</a>
            </div>
            <div class="six wide column">
                <div class="title"><h2>产品系列管理</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>
        <form class="ui form three wide column" enctype="multipart/form-data" id="aform"
              method="POST" th:action="@{'/admin-ui/series/v2/form'}" th:object="${series}">
            <input style="display: none" th:field="*{id}" type="text">
            <input style="display: none" th:field="*{seriesImage}" type="text">
            <input style="display: none" th:field="*{matrixHeaderImage}" type="text">
            <input style="display: none" th:field="*{matrixCellImage}" type="text">
            <input style="display: none" th:field="*{orilinkedRoleIds}" type="text">

            <h2>基本信息</h2>
            <div class="ui divider"></div>
            <div class="field required">
                <label>系列名称</label>
                <input name="name" th:field="*{name}" type="text">
            </div>
            <div class="two fields">
                <div class="field">
                    <label>发布日期</label>
                    <div class="ui calendar">
                        <div class="ui input left icon">
                            <i class="calendar icon"></i>
                            <input name="releaseDate" th:field="*{releaseDate}" th:value="*{releaseDate}" type="date">
                        </div>
                    </div>
                </div>
                <div class="field required">
                    <label>售价</label>
                    <input name="price" step="0.01" th:field="*{price}" type="number">
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input id="isNewSeries" th:field="*{isNewSeries}" type="checkbox">
                    <label for="isNewSeries">新系列？</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input id="isPresale" th:field="*{isPresale}" type="checkbox">
                    <label for="isPresale">预售？</label>
                </div>
            </div>
            <br/>

            <h2>系列图片配置</h2>
            <div class="ui divider"></div>
            <br/>

            <div class="field required">
                <label>产品系列图 (尺寸要求: 694 * 300，抽盒首页系列列表使用)</label>
                <div>
                    <img class="ui medium image"
                         id="seriesImageFileDisplay" th:src="*{seriesImage}">
                </div>
                <input id="seriesImageFile" name="seriesImageFile" type="file">
                <p id="seriesImageFileSize"></p>
            </div>
            <div class="field required">
                <label>海报背景图（'名人堂-生成海报'时使用）</label>
                <div>
                    <img class="ui medium image"
                         id="posterBgImageFileDisplay" th:src="*{posterBgImage}">
                </div>
                <input id="posterBgImageFile" name="posterBgImageFile" type="file">
                <p id="posterBgImageSize"></p>
            </div>


            <br/>
            <h2>抽盒页面配置</h2>
            <div class="ui divider"></div>
            <div class="two fields">
                <div class="field required">
                    <label for="columnSize">每行显示盲盒数(必须<5,建议3或4)</label>
                    <input id="columnSize" max="4" min="3" th:field="*{columnSize}" type="number">
                </div>
                <div class="field required">
                    <label for="totalSize">显示盲盒总数</label>
                    <input id="totalSize" min="3" th:field="*{totalSize}" type="number">
                </div>
            </div>
            <br/>
            <div class="two fields">
                <div class="field required">
                    <label>抽盒页面顶部封面 (尺寸要求: 694 * 300)</label>
                    <div>
                        <img class="ui medium image"
                             id="matrixHeaderImageFileDisplay" th:src="*{matrixHeaderImage}">
                    </div>
                    <input id="matrixHeaderImageFile" name="matrixHeaderImageFile" type="file">
                    <p id="matrixHeaderImageFileSize"></p>
                </div>
                <div class="field required">
                    <label>抽盒格仔图</label>
                    <div>
                        <img class="ui medium image"
                             id="matrixCellImageFileDisplay" th:src="*{matrixCellImage}">
                    </div>
                    <input id="matrixCellImageFile" name="matrixCellImageFile" type="file">
                    <p id="matrixCellImageFileSize"></p>
                </div>
            </div>
            <br/>
            <div class="two fields">
                <div class="field required">
                    <label>产品外包装盒子图（抽盒后显示）</label>
                    <div>
                        <img class="ui medium image"
                             id="boxImageFileDisplay" th:src="*{boxImage}">
                    </div>
                    <input id="boxImageFile" name="boxImageFile" type="file">
                    <p id="boxImageFileSize"></p>
                </div>
                <div class="field required">
                    <label>产品图鉴（'抽盒页面-系列预览'时显示）</label>
                    <div>
                        <img class="ui medium image"
                             id="longImageFileDisplay" th:src="*{longImage}">
                    </div>
                    <input id="longImageFile" name="longImageFile" type="file">
                    <p id="longImageFileSize"></p>
                </div>

            </div>
            <br/>
            <h2>系列包含角色配置</h2>
            <div class="ui divider"></div>

            <div class="scrollbox">
                <div th:each="role : ${roles}">
                    <div class="field required">
                        <div class="ui checkbox">
                            <input name="role" th:checked="${role.checked}" th:value="${role.id}" type="checkbox">
                            <label th:text="${role.name}"></label>
                        </div>
                    </div>
                </div>
            </div>


            <br/>
            <button class="ui button">提交</button>
        </form>
    </div>
</div>

<script>
    var _URL = window.URL || window.webkitURL;

    function readUrl(element, input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(element).attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function previewAndShowSize(thisElement, sizeElementID, previewElementID) {
        var file, img;
        if ((file = thisElement.files[0])) {
            img = new Image();
            var objectUrl = _URL.createObjectURL(file);
            img.onload = function () {
                $(sizeElementID).text("当前尺寸: " +  this.width + "*" + this.height)
                _URL.revokeObjectURL(objectUrl);

            };
            img.src = objectUrl;
        }
        readUrl(previewElementID, thisElement);
    }

    $("#seriesImageFile").change(function (e) {
        previewAndShowSize(this, '#seriesImageFileSize', '#seriesImageFileDisplay');

    });

    $("#matrixHeaderImageFile").change(function (e) {
        previewAndShowSize(this, '#matrixHeaderImageFileSize', '#matrixHeaderImageFileDisplay');
    });

    $("#matrixCellImageFile").change(function (e) {
        previewAndShowSize(this, '#matrixCellImageFileSize', '#matrixCellImageFileDisplay');
    });

    $("#longImageFile").change(function (e) {
        previewAndShowSize(this, '#longImageFileSize', '#longImageFileDisplay');
    });

    $("#boxImageFile").change(function (e) {
        previewAndShowSize(this, '#boxImageFileSize', '#boxImageFileDisplay');
    });

    $("#posterBgImageFile").change(function (e) {
        previewAndShowSize(this, '#posterBgImageFileSize', '#posterBgImageFileDisplay');
    });


</script>
</body>
</html>