<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BlindBox</title>
    <link rel="stylesheet" th:href="@{/style/semantic.css}">
    <link rel="stylesheet" th:href="@{/style/style.css}">
    <script crossorigin="anonymous" th:src="@{/javascript/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/javascript/semantic.min.js}"></script>
</head>
<body>
<div class="big-title">
    <a th:href="@{/admin-ui/main/}"><h1>BlindBox 管理后台</h1></a>
</div>
<div class="ui grid main">
    <div class="three wide column">
        <div class="ui vertical menu">
            <div class="item">
                <div class="header">Activity</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/activities/}">活动信息管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Product</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/role/}">产品管理（old)</a>
                    <a class="item" th:href="@{/admin-ui/role/v2/}">角色管理</a>
                    <a class="active teal item" th:href="@{/admin-ui/series/v2/}">系列与产品管理</a>
                </div>
            </div>
            <div class="item">
                <div class="header">Order</div>
                <div class="menu">
                    <a class="item" th:href="@{/admin-ui/orders/}">订单管理</a>
                </div>
            </div>
        </div>
    </div>
    <div class="thirteen wide column right-box">
        <div class="ui grid main">
            <div class="ten wide column left-btn">
                <a class="ui button primary white-text"
                   th:href="@{/admin-ui/series/v2/seriesform}">添加系列</a>
            </div>
            <div class="six wide column">
                <div class="title"><h2>产品系列管理 V2</h2></div>
            </div>
        </div>
        <div class="ui divider"></div>

        <div th:if="${!series.empty}">
            <table>
                <thead>
                <tr>
                    <th>系列名称</th>
                    <th>发布日期</th>
                    <th>新系列</th>
                    <th>预售</th>
                    <th>售价</th>
                    <th>更多操作</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${series}">
                    <td><span th:text="${item.name}">系列名称</span></td>
                    <td><span th:text="${item.releaseDate}">发布日期</span></td>
                    <td>
                        <div th:if="${item.isNewSeries}"><i class="check circle icon"></i></div>
                    </td>
                    <td>
                        <div th:if="${item.isPresale}"><i class="check circle icon"></i></div>
                    </td>
                    <td><span th:text="${item.price}">售价</span></td>


                    <td>
                        <a th:href="@{'/admin-ui/series/v2/seriesform/' + ${item.id}}" title="编辑">
                            <i class="edit outline icon"></i>
                        </a>

                        <a href="#" title="删除">
                            <i class="trash alternate outline icon" th:attr="onclick=|delItem('${item.id}')|"></i>
                        </a>
                    </td>
                    <td>
                        <a class="small ui basic button" th:href="@{'/admin-ui/product/?seriesId=' + ${item.id}}">
                            <i class="arrow circle right icon"></i> 编辑产品
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div th:if="${series.empty}">
            <h3 class="empty_tips">还没有产品系列，请添加。。。</h3>
        </div>

    </div>

</div>
<script type="text/javascript">
    function delItem (item){
        $.ajax({
            url: "/admin-ui/series/v2/" + item,
            type: "DELETE",
            success: function (data, status) {
                console.info("Got delete status " + status);
                location.reload();
            }
        })
    }


</script>
</body>
</html>